body{
    background-image: url(background2.jpg);
    background-size: cover;
    text-align: center; 
    font-family: sans-serif; 
    font-weight: 100; 
}

.inner{
    position: relative;
    float: left;
    width: 33%;
    height: 300px;
}

a{
    font-size: 35px;
    color: #f8e30d;
}

.desc{
    font-size: 25px;
    color: #fff;
}

h1{ 
  color: #004b18; 
  font-weight: 100; 
  font-size: 40px; 
  margin: 40px 0px 20px; 
} 

 #clockdiv{ 
    font-family: sans-serif; 
    color: #004b18;
    display: inline-block; 
    font-weight: 100; 
    text-align: center; 
    font-size: 30px; 
} 
#clockdiv > div{ 
    padding: 10px; 
    border-radius: 3px; 
    background: #7EC431; 
    display: inline-block; 
} 
#clockdiv div > span{ 
    padding: 15px; 
    border-radius: 3px; 
    background: #507b22; 
    display: inline-block; 
} 
smalltext{ 
    padding-top: 5px; 
    font-size: 16px; 
} 